html {
  background: black;
  color: white;
}

body {
  text-align: center;
  margin: auto;
  height: 80vh;
  width: 80vw;
  max-width: 1500px;
}
h1 {
  font-size: 1rem;
}

#tooltip {
  position: absolute;
  margin: 0;
  padding: 0;
  top: 60vh;
  background: black;
}

#footer {
  position: absolute;
  top: 90vh; 
  left: 0;
  width: 100vw;
  text-align: center;
  font-size: 1rem;
  color: #00B800;
}
#footer:visited {
  color: yellow
}
